*.mp4 filter=lfs diff=lfs merge=lfs -text
error:[[:space:]]pathspec[[:space:]]'files'[[:space:]]did[[:space:]]not[[:space:]]match[[:space:]]any[[:space:]]file(s)[[:space:]]known[[:space:]]to[[:space:]]git filter=lfs diff=lfs merge=lfs -text
202202231713.mp4 filter=lfs diff=lfs merge=lfs -text
